{% extends "persistent.html" %}

{% block title %}О проекте{% endblock %}

{% block content %}
    <div class="container">
        <div id="output">
            <h2>Случайный проект</h2>
            <p>
                Учебный проект, предназначенный для демонстрации возможностей NLP-библиотеки <a href="https://github.com/natasha/natasha?tab=readme-ov-file#Segmentation">Natasha</a>. Библиотека позволяет выполнять все базовые функции, связанные с парсингом текста на естественном языке и предоставления информации о грамматических и синтаксических свойствах предложения. Функции библиотеки включают в себя:
                <ul>
                    <li>Определение синтаксических связей</li>
                    <li>Определение грамматических форм слов</li>
                    <li>Лемматизация токенов</li>
                    <li>Извлечение именованных сущностей</li>
                    <li>Визуализация текстовой разметки</li>
                </ul>
                Выполнил: Терещенко Андрей
            </p>
        </div>
    </div>
{% endblock %}